<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.code4j.mapper.DwNameInfoMapper">
    <!--
        @author code4j
        @date Created in 2022-6-25 18:44:48
    -->
    <resultMap id="BaseResultMap" type="com.code4j.pojo.entity.DwNameInfoEntity">
        <id column="id" property="id" jdbcType="int8"></id>
        <result column="name" property="name" jdbcType="varchar"></result>
        <result column="money" property="money" jdbcType="numeric"></result>
        <result column="is_admin" property="isAdmin" jdbcType="bool"></result>
        <result column="config" property="config" jdbcType="json"></result>
        <result column="age" property="age" jdbcType="int4"></result>
        <result column="shenggao" property="shenggao" jdbcType="float8"></result>
    </resultMap>
</mapper>
